<% if(!Allowed.allowed){ %><span style="color: red;"><%- Allowed.errorMessage %></span><br><% } %>

<select 
        <% if(!Allowed.allowed || option.optionType.disabled){ %>disabled<% } %>
        formType="channelSelect"
        defaultValue=""
        class="form-select"
        id="<%= option.optionId %>" class="col-md-12"
        style="<% if(!Allowed.allowed){ %>border-color: red;<% } %> ">
    <%
    let ioooooo = 0;
    let functiona = option.optionType.function(bot, guildid);
    functiona.values.forEach(value=>{ %>
        <option value="<%= value %>"
                <% if(actual[s.categoryId][option.optionId] == value){ %>selected
                <% } %>
        ><%= functiona.keys[ioooooo] %></option>
    <% ioooooo++; }); %>
</select>
