
<div class="formTypes">
    <% option.optionType.options.forEach(opt => {
        %>
        <div class="formtype-item mt-3">
            <h4 class="m-0"><%- opt?.optionName || ""%></h4>
            <p><%- opt?.optionDescription || ""%></p>
            <%- include(`./${opt.optionType.type}.ejs`, {option: opt, s, Allowed: allowList[opt.optionId]}) %>
        </div>
    <% }) %>
</div>