
<div class="formTypes" style="display: flex; flex-wrap: wrap;">
    <% option.optionType.options.forEach(opt => { %>
        <div class="formtype-item mt-3" style="min-width: 50%;">
            <h4 class="m-0"><%- opt?.optionName || ""%></h4>
            <p><%- opt?.optionDescription || ""%></p>
            <%- include(`./${opt.optionType.type}.ejs`, {option: opt, s, Allowed}) %>
        </div>
    <% }) %>
</div>