<!--
=========================================================
* Soft UI Dashboard - v1.0.3
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">


<head>
    <script>
        window.onload = function () {
            if(window.location.search.startsWith("?guild=")) window.location.href = `settings/${window.location.search.replace("?guild=", "")}`;
            else window.location.href = `settings/<%= req.params.id %>`;
        }
    </script>
</head>

<body class="g-sidenav-show bg-gray-100">
</body>

</html>
